:root{
    --vision: block;
    --speed: 3000ms;
    --star-rotation: 45deg;
    --star-thickness: 2px;
    --end-of-the-star-path: translateX(350px);
    --tail-width: 10em;
    --star-X-width: 3em;
    --shine-star: drop-shadow(0 0 6px #699bff);
    --positioning-and-color-of-the-sky: linear-gradient(135deg, #040a15 0%, #172689 100%);
}

.sky{
    font-size: 10px;
    position: absolute;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    left: 0;
    top: 0;
    background: var(--positioning-and-color-of-the-sky);
    overflow: hidden;
    z-index: -10;
}

.star{
    display: var(--vision);
    position: absolute;
    top: 50%;
    left: 50%;
    height: var(--star-thickness);
    background: linear-gradient(-45deg, #5f91ff, #00000000);
    filter: var(--shine-star);
    rotate: var(--star-rotation);
    animation: star-tail var(--speed) ease-in-out infinite, movement var(--speed) ease-in-out infinite;
}


.star::before, .star::after{
    display: var(--vision);
    position: absolute;
    content: "";
    top: calc(50% - 1px);
    right: 0;
    height: 2px;
    background: linear-gradient(-45deg,#00000000, #5f91ff, #00000000);
    border-radius: 100%;
    transform: translateX(50%) rotateZ(45deg);
    animation: shine var(--speed) ease-in-out infinite;
}

.star::after{
    transform: translateX(50%) rotateZ(-45deg);
}

@keyframes star-tail{
    0%{
        width: 0;
    }
    30%{
        width: var(--tail-width);
    }
    100%{
        width: 0;
    }
}
@keyframes shine{
    0%{
        width: 0;
    }
    50%{
        width: var(--star-X-width);
    }
    100%{
        width: 0;
    }
}

@keyframes movement{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: var(--end-of-the-star-path);
    }
}
