:root{
    --computer-file-width: 30vw;
    --computer-file-height: 50vh;
    --cell-file-width: 80vw;
    --cell-file-height: 80vw;
    --color:#3e3e3e;
}

.JsFilePreviewField{
    display: flex;
    flex-direction: column;
    width: var(--computer-file-width);
    height: auto;
    max-height: var(--computer-file-height);
    overflow: hidden;
    border-radius: 10px;
    background-color: var(--color);
    border: 1px solid var(--color);
}

.upperFieldOfVisualization{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-inline: 20px;
    padding: 5px;
    height: 40px;
    font-size: 20px;
}

.upperFieldOfVisualization div{
    display: flex;
    gap: 10px;
}

.upperFieldOfVisualization div img{
    height: 30px;
}

.upperFieldOfVisualization div button{
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

.minEmaxButton{
    background-color: #ffff02;
}
.copyButton{
    background-color: red;
}

.fileContent{
    background-color: black;
    color: aliceblue;
    flex: 1;
    max-width: 100%;
    overflow: auto;
    font-size: 16px;
    padding: 10px;
}

.fileContent::-webkit-scrollbar {
    width: 8px;
}

.fileContent::-webkit-scrollbar-track {
    background:transparent;
    border-radius: 10px;
}

.fileContent::-webkit-scrollbar-thumb {
    background-color: #ffffff5b;
    border-radius: 10px;
    border: 2px solid #ffffff6c;
}

.fileContent::-webkit-scrollbar-thumb:active {
    background-color: #ffffff6c; 
}


