* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin-bottom: 30px;
}
 button {
    cursor: pointer;
 }

body {
    background: #1a1228;
    overflow-x: hidden; /* Impede que o conteúdo saia dos limites laterais da tela */
}

body, ul, li, p {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: aliceblue;
}



.header {
    margin: 2px;  
}

/* Adicione suas regras de estilo aqui */

/* Defina a paleta de cores */
:root {
    --cor-primaria: #a9def7;
    --cor-secundaria: #244992;
}

h1,h3, .tegs button.clicked {
    font-size: 36px;
    margin: 10px;
    animation: mudarCor 3s infinite;
}


h3 {
    font-size: 20px;
}

@keyframes mudarCor {
    0% {
        color: var(--cor-primaria);
    }
    50% {
        color: var(--cor-secundaria);
    }
    100% {
        color: var(--cor-primaria);
    }
}



.comeco {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative; /* Garante que a div de conteúdo esteja acima da div de plano de fundo */
    z-index: 1; /* Garante que o conteúdo fique acima do plano de fundo */
}
  
.comeco img {
    max-width: 100%;
    margin-top: 20px;
}
  
.comeco .ancoras {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.comeco .ancoras li {
    margin: 0 10px;
}
  
.comeco .ancoras a {
    text-decoration: none;
}
  
.ancoras {
    display: flex;
    margin: 5px;
}

.ancoras a{
    display: flex;
    margin: 5px;
    font-size: 20px;
}


table {
    border-collapse: collapse;
    border: 1px solid #000000;
}
td {
    width: 50px;
    height: 50px;
    border: 1px solid #000000;
    text-align: center;
    vertical-align: center;
    font-weight: monospace;
    font-size: 18px;
    position: relative;
}

.pixel-index {
    font-size: 10px;
    display: inline-block;
    position: absolute;
    top: 2px;
    right: 2px;
    color: #999999;
}
td.pixel {
    width: 8px;
    height: 8px;
    border: 0;
}