.total{
    position: relative;
    width: 100%;
}

.cInput{
    width: 100%;
    padding-inline: 10px;
    font-size: 16px;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid;
    transition: 0.5s;
    color: #7d7d7d;
}

.suggestions {
    box-shadow: 3px 4px 5px #000000b2;
    border-top: none;
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 105%;
    top:100%;
    z-index: 1;
}

.suggestions::-webkit-scrollbar-track {
    background: black;
    border-radius: 10px;
}
  
  /* Estilo para a barra de rolagem*/
.suggestions::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 10px;
    border: 2px solid black;
}
  
  /* Estilo para quando a rolagem está sendo (clicado ou arrastado) */
.suggestions::-webkit-scrollbar-thumb:active {
    background-color: red; 
}


.choices{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
    padding: 4px;
    color: black;
}
.choices:hover{
    background-color: #f0f8ff3c;
}

.name{
    font-size: 12px;
}
.choices div{
    height: 25%;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-inline: 5px;
}