.total{
    display: flex;
    position: relative;
    width: 100%;
    border-bottom: 2px solid;
    transition: 0.5ms;
}

.icon{
    height: 100%;
    width: 20px;
}

.cInput{
    width: 100%;
    height: 100%;
    padding-inline: 10px;
    font-size: 16px;
    background-color: transparent;
    border: none;
    outline: none;
    transition: 0.5s;
    color: #7d7d7d;
}

.suggestions {
    box-shadow: 3px 4px 5px #000000b2;
    border-top: none;
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    top: calc(100% + 2px);
    z-index: 1;
}

.suggestions::-webkit-scrollbar-track {
    background: black;
    border-radius: 10px;
}
  
  /* Estilo para a barra de rolagem*/
.suggestions::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 10px;
    border: 2px solid black;
}
  
  /* Estilo para quando a rolagem está sendo (clicado ou arrastado) */
.suggestions::-webkit-scrollbar-thumb:active {
    background-color: red; 
}


.choices{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
    max-height: 100px;
    padding: 4px;
    color: black;
}

.choices:hover{
    background-color: #f0f8ff3c;
}

.name{
    font-size: 1.05rem;
    height: 60%;
}
.choices div{
    font-size: 0.8rem;
    height: 40%;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-inline: 2px;
}

.choices div span{
    overflow: hidden;
    height: 100%;
    white-space: nowrap;
    padding-inline: 2px;
}

.pathL{
    width: 75%;
    text-overflow: ellipsis;
    /* background-color: aqua; */
}

.typeL{
    width: 25%;
    /* background-color: beige; */
}

/* @media (max-width: 888px) {
    .total{
        border-radius: 50%;
        border: none;
        width: 30px;
        height: 30px;
    }
    .icon{
        height: 100%;
        width: 40px;
    }
    .cInput{
        width: 0px;
        height: 0px;
    }
} */