header{
    width: 100vw;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vh;
    padding-inline: 5vw;
    background-color: var(--elden-ring-secondary-dark-color);
}

.logo{
    width: 25%;
    height: 100%;
    background-color: var(--elden-ring-primary-contrast-color);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: 'Eastern', Times, serif;
    overflow: hidden;   
}

.logo h1{
    font-size: 100%;    
}

.Input{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 2vh;
}
nav{
    width: 25%;
    height: 100%;
    padding-inline: 2vh;
}